$(function () {
	initAdd();
	//提交
	$(".submit").on("click",function(){
		checkAdd();
	});
});
//初始化
function initAdd(){
#foreach($item in $!{tableinfo.npkColList})
	#if($!stringUtil.like($!{item.javaName}, "content"))
    CKEDITOR.replace( '$!{item.javaName}' , { height: '240px',
		width: '480px',
		toolbar: [[ 'Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo', 'Bold',
		'Italic',"Format","FontSize","TextColor" ,"CodeSnippet","Table"]],
		extraPlugins: 'codesnippet',
		uiColor: '#f3f3f3'
    } );
	#end
	$(".$!{item.javaName}").val("");
#end
}
//检查提交
function checkAdd(){
#foreach($item in $!{tableinfo.npkColList})
	#if($!stringUtil.like($!{item.javaName}, "content"))
    if($.trim(CKEDITOR.instances.$!{item.javaName}.getData()) == ""){
		alert("$!{item.comment}不能为空，请填写完再提交！");
		return false;
    }
	#else
    if($.trim($(".$!{item.javaName}").val()) == ""){
		alert("$!{item.comment}不能为空，请填写完再提交！");
		$(".$!{item.javaName}").focus();
		return false;
    }
	#end
#end

	var r=confirm("是否确认增加？");
	if (r==true){
		var msgObject = parent.layer.msg('处理中，请等待……', {
			icon: 16,
			shade: 0.4,
			time: waitImgTime //（如果不配置，默认是3秒）
		}, function(index){
			//do something
			parent.layer.close(index);
		});
		Add(msgObject);
	}
}
//提交
function Add(msgObject){
#foreach($item in $!{tableinfo.npkColList})
	#if($!stringUtil.like($!{item.javaName}, "content"))
    var $!{item.javaName} = CKEDITOR.instances.$!{item.javaName}.getData();
	#else
    var $!{item.javaName} = $(".$!{item.javaName}").val();
	#end
#end
	var str = '';
	#foreach($item in $!{tableinfo.npkColList})
		#if($!velocityCount != $!tableinfo.npkColList.size())
        str+='&$!{item.javaName}='+encodeURIComponent($!{item.javaName})
		#else
        str+='&$!{item.javaName}='+encodeURIComponent($!{item.javaName});
		#end
	#end
	getOData(str,"${tableinfo.tableNameFt}/add/${tableinfo.tableNameFt}",{
		fn:function(oData){
			window.parent.refreshList();
			alert("增加成功！");
		},
		fnerr:function(oData){
			parent.layer.close(msgObject);
		}
	});
}