$(function () {
	initModify();
	//提交
	$(".submit").on("click",function(){
		checkModify();
	});
});

//初始化
function initModify(){
	#foreach($item in $!{tableinfo.npkColList})
		#if($!stringUtil.like($!{item.javaName}, "content"))
	CKEDITOR.replace( '$!{item.javaName}' , { height: '240px',
		width: '480px',
		toolbar: [[ 'Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo', 'Bold',
						'Italic',"Format","FontSize","TextColor" ,"CodeSnippet","Table"]],
		extraPlugins: 'codesnippet',
		uiColor: '#f3f3f3'
	} );
		#end
	#end
	getInfo(getQueryString("id"));
}

//获取详情
function getInfo(id){
	var str = '$!{tableinfo.uuidColum.javaName}='+encodeURIComponent(id);
	getOData(str,"$!{tableinfo.tableNameFt}/views",{fn:function(oData){
		if(oData.code == 1) {
			#foreach($item in $!{tableinfo.npkColList})
				#if($!stringUtil.like($!{item.javaName}, "content"))
                CKEDITOR.instances.$!{item.javaName}.setData(oData.data.$!{item.javaName});
				#else
				$(".$!{item.javaName}").val(oData.data.$!{item.javaName} || "");
				#end
			#end
		} else {
			alert(oData.errMsg);
		}
	}});
}

//检查提交
function checkModify(){
#foreach($item in $!{tableinfo.npkColList})
	#if($!stringUtil.like($!{item.javaName}, "content"))
    if($.trim(CKEDITOR.instances.$!{item.javaName}.getData()) == ""){
		alert("$!{item.comment}不能为空，请填写完再提交！");
		return false;
    }
	#else
    if($.trim($(".$!{item.javaName}").val()) == ""){
		alert("$!{item.comment}不能为空，请填写完再提交！");
		$(".$!{item.javaName}").focus();
		return false;
    }
	#end
#end

	var r=confirm("是否确认修改？");
	if (r==true){
		var msgObject = parent.layer.msg('处理中，请等待……', {
			icon: 16,
			shade: 0.4,
			time: waitImgTime //（如果不配置，默认是3秒）
		}, function(index){
			parent.layer.close(index);
		});
		Modify(msgObject);
	}
}

//提交
function Modify(msgObject){
	var $!{tableinfo.uuidColum.javaName} = getQueryString("id");
#foreach($item in $!{tableinfo.npkColList})
	#if($!stringUtil.like($!{item.javaName}, "content"))
    var $!{item.javaName} = CKEDITOR.instances.$!{item.javaName}.getData();
	#else
    var $!{item.javaName} = $(".$!{item.javaName}").val();
	#end
#end
	var str = '$!{tableinfo.uuidColum.javaName}='+encodeURIComponent($!{tableinfo.uuidColum.javaName})
#foreach($item in $!{tableinfo.npkColList})
	#if($!velocityCount != $!tableinfo.npkColList.size())
		+'&$!{item.javaName}='+encodeURIComponent($!{item.javaName})
	#else
    	+'&$!{item.javaName}='+encodeURIComponent($!{item.javaName});
	#end
#end
	getOData(str,"${tableinfo.tableNameFt}/update/${tableinfo.tableNameFt}",{
		fn:function(oData){
			window.parent.refreshList();
			alert("修改成功！");
		},
		fnerr:function(oData){
			parent.layer.close(msgObject);
		}
	});
}