package $!{tableinfo.packageName}.controller;

import io.swagger.annotations.Api;
import io.swagger.annotations.ApiOperation;
import io.swagger.annotations.ApiParam;

#foreach($item in $!tableinfo.importPack)
import $!{item};
#end
import $!{tableinfo.packageName}.service.$!{tableinfo.tableNameFtUpcase}Service;
import $!{tableinfo.packageName}.core.mybatis.page.Page;
import $!{tableinfo.packageName}.entity.$!{tableinfo.tableNameFtUpcase};
import $!{tableinfo.packageName}.tool.RandomUtil;
import $!{tableinfo.packageName}.tool.out.ResultMessageBuilder;
import $!{tableinfo.packageName}.vo.$!{tableinfo.tableNameFtUpcase}VO;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Controller;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RequestMethod;
import org.springframework.web.bind.annotation.RequestParam;

import javax.servlet.http.HttpServletResponse;
import java.util.ArrayList;
import java.util.List;

/**
* $!{tableinfo.tableDesc}
*/
@Controller
@RequestMapping(value="/$!{tableinfo.tableNameFt}")
@Api(value="$!{tableinfo.tableNameFt}", description="$!stringUtil.cutLastChar($!{tableinfo.tableDesc})相关操作")
public class $!{tableinfo.tableNameFtUpcase}Controller extends BaseController {

	/**
	* $!{tableinfo.tableDesc}
	*/
	@Autowired
	private $!{tableinfo.tableNameFtUpcase}Service $!{tableinfo.tableNameFt}Service;
	
	/**
	* 添加
	*
#foreach($item in $!{tableinfo.npkColList})
	* @param $!{item.javaName} $!{item.comment}
#end
	* @return
	*/
	@ApiOperation(value="添加", httpMethod = "POST", notes = "添加")
	@RequestMapping(value="/add/$!{tableinfo.tableNameFt}", method=RequestMethod.POST)
	public void add$!{tableinfo.tableNameFtUpcase} (
		#foreach($item in $!{tableinfo.npkColList})
			@ApiParam(value="$!{item.comment}", required = true) @RequestParam(value="$!{item.javaName}", required = true) $!{item.javaTypeShort} $!{item.javaName},
		#end
			HttpServletResponse response) {
		logger.info("[$!{tableinfo.tableNameFtUpcase}Controller]:begin add$!{tableinfo.tableNameFtUpcase}");
		$!{tableinfo.tableNameFtUpcase} $!{tableinfo.tableNameFt} = new $!{tableinfo.tableNameFtUpcase}();
		String uuid = RandomUtil.generateString(16);
		$!{tableinfo.tableNameFt}.set$!{tableinfo.uuidColum.javaNameUpcase}(uuid);
		#foreach($item in $!{tableinfo.npkColList})
		$!{tableinfo.tableNameFt}.set$!{item.javaNameUpcase}($!{item.javaName});
		#end

		$!{tableinfo.tableNameFt}Service.insert$!{tableinfo.tableNameFtUpcase}($!{tableinfo.tableNameFt});

		writeAjaxJSONResponse(ResultMessageBuilder.build(true, 1, "新增成功!"),response);
		logger.info("[$!{tableinfo.tableNameFtUpcase}Controller]:end add$!{tableinfo.tableNameFtUpcase}");
	}

	/**
	* 修改
	*
	* @param $!{tableinfo.uuidColum.javaName} $!{tableinfo.uuidColum.comment}
#foreach($item in $!{tableinfo.npkColList})
	* @param $!{item.javaName} $!{item.comment}
#end
	* @return
	*/
	@RequestMapping(value="/update/$!{tableinfo.tableNameFt}", method=RequestMethod.POST)
	@ApiOperation(value="修改", httpMethod = "POST", notes = "修改")
	public void update$!{tableinfo.tableNameFtUpcase} (
			@ApiParam(value="$!{tableinfo.uuidColum.comment}", required = true) @RequestParam(value="$!{tableinfo.uuidColum.javaName}", required = true) $!{tableinfo.uuidColum.javaTypeShort} $!{tableinfo.uuidColum.javaName},
		#foreach($item in $!{tableinfo.npkColList})
			@ApiParam(value="$!{item.comment}", required = true) @RequestParam(value="$!{item.javaName}", required = true) $!{item.javaTypeShort} $!{item.javaName},
		#end
		HttpServletResponse response) {
		logger.info("[$!{tableinfo.tableNameFtUpcase}Controller]:begin update$!{tableinfo.tableNameFtUpcase}");
		$!{tableinfo.tableNameFtUpcase} $!{tableinfo.tableNameFt} = new $!{tableinfo.tableNameFtUpcase}();
		$!{tableinfo.tableNameFt}.set$!{tableinfo.uuidColum.javaNameUpcase}($!{tableinfo.uuidColum.javaName});
#foreach($item in $!{tableinfo.npkColList})
		$!{tableinfo.tableNameFt}.set$!{item.javaNameUpcase}($!{item.javaName});
#end

		$!{tableinfo.tableNameFt}Service.update$!{tableinfo.tableNameFtUpcase}($!{tableinfo.tableNameFt});

		writeAjaxJSONResponse(ResultMessageBuilder.build(true, 1, "修改成功!"),response);
		logger.info("[$!{tableinfo.tableNameFtUpcase}Controller]:end update$!{tableinfo.tableNameFtUpcase}");
	}

	/**
	* 删除
	*
	* @param $!{tableinfo.uuidColum.javaName} $!{tableinfo.uuidColum.comment}
	* @return
	*/
	@ApiOperation(value="删除", httpMethod = "POST", notes = "删除")
	@RequestMapping(value="/delete/one", method=RequestMethod.POST)
	public void delete$!{tableinfo.tableNameFtUpcase} (
			@ApiParam(value="$!{tableinfo.uuidColum.comment}", required = true) @RequestParam(value="$!{tableinfo.uuidColum.javaName}", required = true) String $!{tableinfo.uuidColum.javaName},
			HttpServletResponse response) {
		logger.info("[$!{tableinfo.tableNameFtUpcase}Controller]:begin delete$!{tableinfo.tableNameFtUpcase}");
		$!{tableinfo.tableNameFtUpcase} $!{tableinfo.tableNameFt} = new $!{tableinfo.tableNameFtUpcase}();
		$!{tableinfo.tableNameFt}.set$!{tableinfo.uuidColum.javaNameUpcase}($!{tableinfo.uuidColum.javaName});

		$!{tableinfo.tableNameFt}Service.delete$!{tableinfo.tableNameFtUpcase}($!{tableinfo.tableNameFt});

		writeAjaxJSONResponse(ResultMessageBuilder.build(true, 1, "删除成功!"),response);
		logger.info("[$!{tableinfo.tableNameFtUpcase}Controller]:end delete$!{tableinfo.tableNameFtUpcase}");
	}

	/**
	* 批量删除
	*
	* @param $!{tableinfo.uuidColum.javaName}s UUID集合
	* @return
	*/
	@ApiOperation(value="批量删除", httpMethod = "POST", notes = "批量删除")
	@RequestMapping(value="/delete/batch", method=RequestMethod.POST)
	public void deleteBatch$!{tableinfo.tableNameFtUpcase} (
			@ApiParam(value="$!stringUtil.cutLastChar($!{tableinfo.tableDesc})标识集合(|拼接)", required = true) @RequestParam(value="$!{tableinfo.uuidColum.javaName}s", required = true) String $!{tableinfo.uuidColum.javaName}s,
			HttpServletResponse response) {
		logger.info("[$!{tableinfo.tableNameFtUpcase}Controller]:begin deleteBatch$!{tableinfo.tableNameFtUpcase}");
		String[] uuids=$!{tableinfo.uuidColum.javaName}s.split("\\|");
		List<String> list = new ArrayList<String>();
		for (int i = 0; i < uuids.length; i++) {
			list.add(uuids[i]);
		}
		if (list.size() == 0) {
			writeAjaxJSONResponse(ResultMessageBuilder.build(false, -1, "请选择批量删除对象！"), response);
			return;
		}
		$!{tableinfo.tableNameFt}Service.deleteBatchByIds(list);

		writeAjaxJSONResponse(ResultMessageBuilder.build(true, 1, "批量删除成功!"),response);
		logger.info("[$!{tableinfo.tableNameFtUpcase}Controller]:end deleteBatch$!{tableinfo.tableNameFtUpcase}");
	}

	/**
	* 获取单个
	*
	* @param $!{tableinfo.uuidColum.javaName} $!{tableinfo.uuidColum.comment}
	* @return
	*/
    @ApiOperation(value="获取单个", httpMethod = "POST", notes = "获取单个", response = $!{tableinfo.tableNameFtUpcase}VO.class)
	@RequestMapping(value="/views", method=RequestMethod.POST)
	public void views$!{tableinfo.tableNameFtUpcase} (
			@ApiParam(value="$!{tableinfo.uuidColum.comment}", required = true) @RequestParam(value="$!{tableinfo.uuidColum.javaName}", required = true)  String $!{tableinfo.uuidColum.javaName},
			HttpServletResponse response) {
		logger.info("[$!{tableinfo.tableNameFtUpcase}Controller]:begin views$!{tableinfo.tableNameFtUpcase}");
		$!{tableinfo.tableNameFtUpcase} $!{tableinfo.tableNameFt} = new $!{tableinfo.tableNameFtUpcase}();
		$!{tableinfo.tableNameFt}.set$!{tableinfo.uuidColum.javaNameUpcase}($!{tableinfo.uuidColum.javaName});
		$!{tableinfo.tableNameFt} = $!{tableinfo.tableNameFt}Service.get$!{tableinfo.tableNameFtUpcase}($!{tableinfo.tableNameFt});
		if(null == $!{tableinfo.tableNameFt}){
			writeAjaxJSONResponse(ResultMessageBuilder.build(false, -1, "$!stringUtil.cutLastChar($!{tableinfo.tableDesc})不存在!"),response);
    		logger.info("[$!{tableinfo.tableNameFtUpcase}Controller]:end views$!{tableinfo.tableNameFtUpcase}");
			return;
		}

		$!{tableinfo.tableNameFtUpcase}VO $!{tableinfo.tableNameFt}VO = new $!{tableinfo.tableNameFtUpcase}VO();
		$!{tableinfo.tableNameFt}VO.convertPOToVO($!{tableinfo.tableNameFt});

		writeAjaxJSONResponse(ResultMessageBuilder.build(true, 1, "获取单个信息成功", $!{tableinfo.tableNameFt}VO), response);
		logger.info("[$!{tableinfo.tableNameFtUpcase}Controller]:end views$!{tableinfo.tableNameFtUpcase}");
	}

	/**
	* 获取列表<List>
	* 
	* @return
	*/
    @ApiOperation(value="获取$!stringUtil.cutLastChar($!{tableinfo.tableDesc})列表", httpMethod = "POST", notes = "获取$!stringUtil.cutLastChar($!{tableinfo.tableDesc})列表", response = $!{tableinfo.tableNameFtUpcase}VO.class)
	@RequestMapping(value="/find/all", method=RequestMethod.POST)
	public void find$!{tableinfo.tableNameFtUpcase}List (
			HttpServletResponse response) {
		logger.info("[$!{tableinfo.tableNameFtUpcase}Controller]:begin find$!{tableinfo.tableNameFtUpcase}List");
		List<$!{tableinfo.tableNameFtUpcase}> lists = $!{tableinfo.tableNameFt}Service.find$!{tableinfo.tableNameFtUpcase}List();
		List<$!{tableinfo.tableNameFtUpcase}VO> vos = new ArrayList<$!{tableinfo.tableNameFtUpcase}VO>();
		$!{tableinfo.tableNameFtUpcase}VO vo;
		for ($!{tableinfo.tableNameFtUpcase} $!{tableinfo.tableNameFt} : lists) {
			vo = new $!{tableinfo.tableNameFtUpcase}VO();
			vo.convertPOToVO($!{tableinfo.tableNameFt});
			vos.add(vo);
		}

		writeAjaxJSONResponse(ResultMessageBuilder.build(true, 1, "list列表获取成功!", vos),response);
		logger.info("[$!{tableinfo.tableNameFtUpcase}Controller]:end find$!{tableinfo.tableNameFtUpcase}List");
	}

	/**
	* 获取分页列表<Page>
	*
#foreach($item in $!{tableinfo.npkColList})
    * @param $!{item.javaName} $!{item.comment}
#end
	* @param pageNum 页码
	* @param pageSize 页数
	* @return
	*/
    @ApiOperation(value="获取$!stringUtil.cutLastChar($!{tableinfo.tableDesc})分页列表", httpMethod = "POST", notes = "获取$!stringUtil.cutLastChar($!{tableinfo.tableDesc})分页列表", response = $!{tableinfo.tableNameFtUpcase}VO.class)
	@RequestMapping(value="/find/by/cnd", method=RequestMethod.POST)
	public void find$!{tableinfo.tableNameFtUpcase}Page (
			#foreach($item in $!{tableinfo.npkColList})
			@ApiParam(value="$!{item.comment}", required = true) @RequestParam(value="$!{item.javaName}", required = true) $!{item.javaTypeShort} $!{item.javaName},
			#end
            @ApiParam(value="第几页", required = false) @RequestParam(value="pageNum", required = false) Integer pageNum,
            @ApiParam(value="每页数量", required = false) @RequestParam(value="pageSize", required = false) Integer pageSize,
			HttpServletResponse response) {
		logger.info("[$!{tableinfo.tableNameFtUpcase}Controller]:begin find$!{tableinfo.tableNameFtUpcase}Page");
		$!{tableinfo.tableNameFtUpcase} $!{tableinfo.tableNameFt} = new $!{tableinfo.tableNameFtUpcase}();
#foreach($item in $!{tableinfo.npkColList})
		$!{tableinfo.tableNameFt}.set$!{item.javaNameUpcase}($!{item.javaName});
#end
		if (pageNum == null || pageNum == 0) {
			pageNum = 1;
		}
		if (pageSize == null || pageSize == 0) {
			pageSize = 15;
		}
		Page<$!{tableinfo.tableNameFtUpcase}> page = $!{tableinfo.tableNameFt}Service.find$!{tableinfo.tableNameFtUpcase}Page($!{tableinfo.tableNameFt}, pageNum, pageSize);
		Page<$!{tableinfo.tableNameFtUpcase}VO> pageVO = new Page<$!{tableinfo.tableNameFtUpcase}VO>(page.getPageNumber(), page.getPageSize(), page.getTotalCount());
		List<$!{tableinfo.tableNameFtUpcase}VO> vos = new ArrayList<$!{tableinfo.tableNameFtUpcase}VO>();
		$!{tableinfo.tableNameFtUpcase}VO vo;
		for ($!{tableinfo.tableNameFtUpcase} $!{tableinfo.tableNameFt}PO : page.getResult()) {
			vo = new $!{tableinfo.tableNameFtUpcase}VO();
			vo.convertPOToVO($!{tableinfo.tableNameFt}PO);
			vos.add(vo);
		}
		pageVO.setResult(vos);

		writeAjaxJSONResponse(ResultMessageBuilder.build(true, 1, "page列表获取成功!", pageVO),response);
		logger.info("[$!{tableinfo.tableNameFtUpcase}Controller]:end find$!{tableinfo.tableNameFtUpcase}Page");
	}

}