<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoyu.lingdian.entity.CoreAoyunCode">
	<resultMap id="coreAoyunCodeMapper" type="CoreAoyunCode">
						<id property="craceUnid" column="CRACE_UNID" jdbcType="NUMERIC" /><!-- "标识UNID" -->
				        <result property="" column="" jdbcType="" /><!-- "" -->
				<result property="craceWechat" column="CRACE_WECHAT" jdbcType="VARCHAR" /><!-- "所属公众号" -->
				<result property="craceCode" column="CRACE_CODE" jdbcType="VARCHAR" /><!-- "二维码附件" -->
			</resultMap>
	<sql id="coreAoyunCodeAsProperty">
				CRACE_UNID AS craceUnid,
				 AS ,
						CRACE_WECHAT AS craceWechat,
								CRACE_CODE AS craceCode
					</sql>
	<sql id="coreAoyunCodeFieldIf">
				<if test="craceUnid!=null" >CRACE_UNID,</if>
						<if test="craceWechat!=null" >CRACE_WECHAT,</if>
				<if test="craceCode!=null" >CRACE_CODE,</if>
		        <if test="!=null" ></if>
	</sql>
	<sql id="coreAoyunCodeProperty">
				<if test="craceUnid!=null" >#{craceUnid,jdbcType=NUMERIC},</if>
						<if test="craceWechat!=null" >#{craceWechat,jdbcType=VARCHAR},</if>
				<if test="craceCode!=null" >#{craceCode,jdbcType=VARCHAR},</if>
		        <if test="!=null" >#{,jdbcType=}</if>
	</sql>
	<sql id="coreAoyunCodePropertyIf">
				<if test="craceUnid!=null" >CRACE_UNID=#{craceUnid,jdbcType=NUMERIC},</if>
						<if test="craceWechat!=null" >CRACE_WECHAT=#{craceWechat,jdbcType=VARCHAR},</if>
				<if test="craceCode!=null" >CRACE_CODE=#{craceCode,jdbcType=VARCHAR},</if>
		        <if test="!=null" >=#{,jdbcType=}</if>
	</sql>
	<insert id="insertCoreAoyunCode" parameterType="CoreAoyunCode" useGeneratedKeys="true" keyProperty="id" >
		INSERT INTO core_aoyun_code(<include refid="coreAoyunCodeFieldIf" />) VALUES (<include refid="coreAoyunCodeProperty" />)
	</insert>
	<delete id="deleteCoreAoyunCode" parameterType="CoreAoyunCode">
		DELETE FROM core_aoyun_code <where>=#{,jdbcType=}</where>
	</delete>
	<select id="getCoreAoyunCode" resultMap="coreAoyunCodeMapper" parameterType="CoreAoyunCode">
		SELECT <include refid="coreAoyunCodeAsProperty" /> FROM core_aoyun_code <where>=#{,jdbcType=}</where>
	</select>
	<update id="updateCoreAoyunCode" parameterType="CoreAoyunCode">
		UPDATE core_aoyun_code<set><include refid="coreAoyunCodePropertyIf" /></set> <where>=#{,jdbcType=}</where>
	</update>
	<!--  批量删除-->
	<delete id="deleteBatchCoreAoyunCodeByIds" parameterType="HashMap">
		DELETE FROM core_aoyun_code
		<where>
			<if test="list != null and list.size>0">
                 in
				<foreach item="item" index="id" collection="list" open="(" separator="," close=")">
					'${item}'
				</foreach>
			</if>
		</where>
	</delete>
	<!--  获取所有list-->
	<select id="findCoreAoyunCodeForLists" resultMap="coreAoyunCodeMapper" parameterType="HashMap">
		SELECT <include refid="coreAoyunCodeAsProperty" />
		FROM core_aoyun_code
	</select>
	<!--  获取所有page-->
	<select id="findCoreAoyunCodeForPages" resultMap="coreAoyunCodeMapper" parameterType="HashMap">
		SELECT <include refid="coreAoyunCodeAsProperty" />
		FROM core_aoyun_code
		<where>
			1=1
		</where>
	</select>

</mapper>